@import "./variables";

.Home {
    text-align: center;
  }
  
  .Home-logo_w {
    height: 5vmin;
    pointer-events: none;
  }
  
  .Home-header {
    background-color: $head-colour;
    min-height: 6vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 2vmin
  }