@font-face {
    font-family: Proxima Nova SB;
    src: url(../fonts/FontsFree-Net-Proxima-Nova-Sbold.otf);
  }
  
  @font-face {
    font-family: SF Pro Display M;
    src: url(../fonts/FontsFree-Net-SFProDisplay-Medium.ttf);
  }
  
  @font-face {
    font-family: SF Pro Display B;
    src: url(../fonts/FontsFree-Net-SFProDisplay-Bold.ttf);
  }

@mixin bg_gradient {
  background-image: radial-gradient(#FFFFFF, #DEDEDE);
  padding: 5vmin;
}


$Prox: Proxima Nova SB;
$SF-Pro-M: SF Pro Display M;
$SF-Pro-B: SF Pro Display B;

$head-colour: #282c34;

h1 {
  font-family: $Prox;
  color: #476457;
  font-size: 3em;
}

h2 {
  font-family: $Prox;
  font-size: 2em;
  margin-top: 3em;
  align-self: flex-start;
}

p {
  font-family: $SF-Pro-M;
}