@font-face {
  font-family: Proxima Nova SB;
  src: url(../fonts/FontsFree-Net-Proxima-Nova-Sbold.otf);
}

@font-face {
  font-family: SF Pro Display M;
  src: url(../fonts/FontsFree-Net-SFProDisplay-Medium.ttf);
}

@font-face {
  font-family: SF Pro Display B;
  src: url(../fonts/FontsFree-Net-SFProDisplay-Bold.ttf);
}

@font-face {
  font-family: Proxima Nova SB;
  src: url(../fonts/FontsFree-Net-Proxima-Nova-Sbold.otf);
}

@font-face {
  font-family: SF Pro Display M;
  src: url(../fonts/FontsFree-Net-SFProDisplay-Medium.ttf);
}

@font-face {
  font-family: SF Pro Display B;
  src: url(../fonts/FontsFree-Net-SFProDisplay-Bold.ttf);
}

.Home {
  text-align: center;
}

.Home-logo_w {
  height: 5vmin;
  pointer-events: none;
}

.Home-header {
  background-color: #282c34;
  min-height: 6vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2vmin;
}

@font-face {
  font-family: Proxima Nova SB;
  src: url(../fonts/FontsFree-Net-Proxima-Nova-Sbold.otf);
}

@font-face {
  font-family: SF Pro Display M;
  src: url(../fonts/FontsFree-Net-SFProDisplay-Medium.ttf);
}

@font-face {
  font-family: SF Pro Display B;
  src: url(../fonts/FontsFree-Net-SFProDisplay-Bold.ttf);
}

.Home-imagebg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../sprites/school-bg.png);
  background-size: cover;
  height: 70vmin;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Home-bg-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vmin;
  height: 50vmin;
  background-color: white;
  opacity: 82%;
  border-radius: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Home-logo_g {
  height: 10vmin;
  width: 40vmin;
  pointer-events: none;
}

.Home-circle_text {
  font-size: 3vmin;
  margin-top: -1vmin;
}

.Home-Appventure {
  color: #17A2B8;
}

@font-face {
  font-family: Proxima Nova SB;
  src: url(../fonts/FontsFree-Net-Proxima-Nova-Sbold.otf);
}

@font-face {
  font-family: SF Pro Display M;
  src: url(../fonts/FontsFree-Net-SFProDisplay-Medium.ttf);
}

@font-face {
  font-family: SF Pro Display B;
  src: url(../fonts/FontsFree-Net-SFProDisplay-Bold.ttf);
}

.Home-bottom_bg {
  background: radial-gradient(#FFFFFF, #DEDEDE);
  min-height: 90vmin;
  padding: 5vmin;
}

.Home-about_para {
  font-size: 2em;
  -ms-grid-column-align: center;
      justify-self: center;
}

.Home-row_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Home-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.Home-link_image {
  width: 5em;
  height: 5em;
  margin-top: 10em;
  margin-left: 6em;
  margin-right: 6em;
}

.Home-row_nushlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1.2em;
}

.Home-link {
  font-size: 2em;
  margin-top: 0.2em;
}

.Home-footer {
  background-color: #282c34;
  min-height: 20vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1vmin;
}

.Home-credits {
  color: white;
  text-align: right;
  font-size: 2vmin;
}

.Home-btn_create_url {
  font-family: SF Pro Display B;
  font-style: bold;
  color: #707070;
  font-size: 100em;
  width: 8em;
  height: 4em;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #ECE9E9), color-stop(55%, #E5E5E5));
  background-image: linear-gradient(#ECE9E9 45%, #E5E5E5 55%);
  -webkit-box-shadow: 0 2px 2px #888888;
          box-shadow: 0 2px 2px #888888;
  -webkit-transition: color 0.3s, background-image 0.5s, ease-in-out;
  transition: color 0.3s, background-image 0.5s, ease-in-out;
}

h1 {
  font-family: Proxima Nova SB;
  color: #476457;
  font-size: 3em;
}

h2 {
  font-family: Proxima Nova SB;
  font-size: 2em;
  margin-top: 3em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

p {
  font-family: SF Pro Display M;
}

button {
  font-family: SF Pro Display B;
  font-style: bold;
  color: #707070;
  margin-top: 10vmin;
  font-size: 2em;
  width: 10em;
  height: 2.5em;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #ECE9E9), color-stop(55%, #E5E5E5));
  background-image: linear-gradient(#ECE9E9 45%, #E5E5E5 55%);
  -webkit-box-shadow: 0 2px 2px #888888;
          box-shadow: 0 2px 2px #888888;
  -webkit-transition: color 0.3s, background-image 0.5s, ease-in-out;
  transition: color 0.3s, background-image 0.5s, ease-in-out;
}
/*# sourceMappingURL=Home.css.map */