@import "./variables";
@import "./header";
@import "./middle";
@import "./bottom";


button {
  font-family: $SF-Pro-B;
  width: 10em;
  height: 2.5em;
  background-image: linear-gradient( #ECE9E9 45%, #E5E5E5 55%);
  box-shadow: 0 2px 2px #888888;
  transition: color 0.3s, background-image 0.5s, ease-in-out;
  
}


