@import "./variables";

html,
body {
  margin: 0;
  padding: 0;
}

* {
    box-sizing: border-box;
  }

.Loading-bg {

    @include bg_gradient();
    display: flex;
    flex-flow: column wrap;
    justify-items: right;
    height: 100vh;
    width: 100vw;
    align-content: center;
}

.Loading-logo_g {
    width: 30em;
    align-self: center;
}

.Loading-potato {
    margin-top: 2em;
    height: 14em;
    align-self: center;
}

.Loading-bg {
    align-self: center;
}

.Loading-btn_cancel {
    font-family: $SF-Pro-B;
    background-image: linear-gradient( #ECE9E9 45%, #E5E5E5 55%);
    box-shadow: 0 2px 2px #888888;
    transition: color 0.3s, background-image 0.5s, ease-in-out;
}

