@font-face {
  font-family: Proxima Nova SB;
  src: url(./fonts/FontsFree-Net-Proxima-Nova-Sbold.otf);
}

@font-face {
  font-family: SF Pro Display M;
  src: url(./fonts/FontsFree-Net-SFProDisplay-Medium.ttf);
}

@font-face {
  font-family: SF Pro Display B;
  src: url(./fonts/FontsFree-Net-SFProDisplay-Bold.ttf);
}

h1 {
  font-family: Proxima Nova SB;
  color: #476457;
  font-size: 3em;
}

h2 {
  font-family: Proxima Nova SB;
  font-size: 2em;
  margin-top: 3em;
  align-self: flex-start;
}

p {
  font-family: SF Pro Display M;
}

button {
  font-family: SF Pro Display B;
  font-style: bold;
  color: #707070;
  margin-top: 10vmin;
  font-size: 2em;
  width: 10em;
  height: 2.5em;
  border-radius: 20px;
  background-image: linear-gradient( #ECE9E9 45%, #E5E5E5 55%);
  box-shadow: 0 2px 2px #888888;
  transition: color 0.3s, background-image 0.5s, ease-in-out;
  
}


.App {
  text-align: center;
}

.App-logo_w {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 6vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 2vmin
}

.App-bg {
  filter: blur(2px);
  -webkit-filter: blur(2px);

  width: 100%;
  object-fit: cover;
}

.bg-circle {
  transform-origin: top;
  position: absolute;
  display: flex;
  width: 50vmin;
  height: 50vmin;
  background-color: white;
  opacity: 82%;
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -110%);
}

.App-logo_g {
  height: 10vmin;
  width: 40vmin;
  pointer-events: none;
}

.App-circle_text {
  font-size: 3vmin;
  margin-top: -1vmin;
}

.App-Appventure {
  color:#17A2B8;
}

.App-bottom_bg {
  background: radial-gradient(#FFFFFF, #DEDEDE);
  min-height: 90vmin;
  padding: 5vmin;
  align-items: center;
}

.App-about_text {
   margin-top: -0.5vmin;

}

.App-about_para {
  font-size: 2em;
  justify-self: center;
}

.App-custom_url {
  margin-top: 2em;
  
}

.App-row_element {
  display: flex;
  flex-direction: row;
  
  justify-content: center;
}

.App-col{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.App-link_image {
  width: 5em;
  height: 5em;
  margin-top: 15em;
  margin-left: 6em;
  margin-right: 6em;
}


.App-row_nushlink {
  display: flex;
  flex-direction: row;
  font-size: 2em;
}

.App-footer{
  background-color: #282c34;
  min-height: 20vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vmin
}

.App-credits {
  color: white;
  text-align: right;
  font-size: 2vmin;
}
/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
